.dealsFormSearch-container {
    display: inline-block;
    width: 100%;
    max-width: 320px;
}

#flagsForm-search {
    margin: 10px;
    text-align: left    ;
    padding-bottom: 50px;
    width: 100%;

}

#flagsForm-search > div {
    text-align: left;
}


