#flagsForm-search {
    margin: 10px;
    text-align: left    ;
    padding-bottom: 50px;
    width: 98%;
}
#flagsForm-search > div {
    text-align: left;
}


.dealsFormSearch-container {
    display: inline-block;
    width: 20%;
    /*border: dotted;*/
    float: left;
}


#casesgridFlag {
    vertical-align: top;
    margin-left: 0px;
    width: 79%;
    float: right;
}
