#home-container {
    height: auto;
    width: 100%;
}

.casesGrid {
    display: inline-block;
    vertical-align: top;
    margin-left: 0px;
    width: 100%;
}

.casesGrid > div {
    margin-top: 0px;
}

.c1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}


.c1>li {
    float: left;
}


.c1>li>a {
     padding-top: 5px;
     padding-bottom: 5px;
}


.c1>li>a:hover:not(.active) {
    background-color: #0092cf;
    color :white
}
