#title{
    padding-right: 50px;
    padding-top: 15px;
    font-size:large;
    color: #0092cf;
    font-size: 18px;
    font-weight: bold;
    float: left;
    /*border: solid;*/
}


.dx-treeview{
    clear:both;
    margin: auto;
    width: 15%;
    padding-left: 10px;
    float: left;
}
.gridr {
    vertical-align: top;
    margin-left: 0px;
    width: 85%;
    float: left
}



